<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

<bean id="student" class="com.morningstar.model.Student" scope="prototype">
<property name="studentId" value="100"></property>
<property name="studentName" value="chinmay"></property>
<property name="studentScore" value="90"></property>

</bean>

<bean id="student2" class="com.morningstar.model.Student" scope="singleton">
<constructor-arg name="studentId" value="101"></constructor-arg>
<constructor-arg name="studentName" value="Chinmay"></constructor-arg>
<constructor-arg name="studentScore" value="70"></constructor-arg>
</bean>





</beans>

